@using EvidencijaAutomobila.ViewModel

@{
    ViewBag.Title = "Create";
}
@model CarEngineViewModel

<h2>Add new car</h2>

@using (Html.BeginForm("Create", "Car", FormMethod.Post,new { onsubmit = "return validateForm(this)" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Car.Model)
        @Html.TextBoxFor(m => m.Car.Model, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Model)
        
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Car.Manufacturer)
        @Html.TextBoxFor(m => m.Car.Manufacturer, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Manufacturer)
        
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Car.Volume)
        @Html.TextBoxFor(m => m.Car.Volume, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Volume)
        
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Car.Year)
        @Html.TextBoxFor(m => m.Car.Year, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Car.Year)
        
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.Car.Engine.Id, new SelectList(Model.Engines, "Id", "EngineName"),"Select engine")
        
    </div>

    <div class="form-group">
        <input class="btn btn-default" type="submit" />
    </div>
}
