﻿@using EvidencijaAutomobila.Models
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Car>
<h2>Home Page</h2>
<table class="table-striped table-bordered table-hover">
    <tr>
        <th>
            Model
        </th>
        <th>
            Manufacturer
        </th>
        <th>
            Volume
        </th>
        <th>
            Year
        </th>
        <th colspan="3">
            Engine
        </th>
    </tr>
    @foreach (Car cr in Model)
    {
        <tr>
            <td>@cr.Model</td>
            <td>@cr.Manufacturer</td>
            <td>@cr.Volume</td>
            <td>@cr.Year</td>
            <td>@cr.Engine.EngineName</td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = cr.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = cr.Id })
            </td>
        </tr>
    }
</table>
 <br/>
<a href="@Url.Action("Create")" class="btn btn-default "> Add new car </a>
<a href="@Url.Action("Create","Engine")" class="btn btn-default "> Add new engine </a>
