﻿@using EvidencijaAutomobila.Models
@{
    ViewBag.Title = "Create";
}
@model Engine
<h2>Add new engine</h2>

@using (Html.BeginForm("Create", "Engine", FormMethod.Post, new { onsubmit = "return validateForm(this)" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.EngineName)
        @Html.TextBoxFor(m => m.EngineName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EngineName)  
    </div>

    <div class="form-group">
        <input class="btn btn-default" type="submit" />
    </div>
}