﻿
@using EvidencijaAutomobila.Models
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<Engine>
<h2>Home Page</h2>
<table class="table-striped table-bordered table-hover">
    <tr>       
        <th colspan="4">
            Engines
        </th>
    </tr>
    @foreach (Engine en in Model)
    {
        <tr>
            <td>@en.Id</td>
            <td>@en.EngineName</td>
                      
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = en.Id })
            </td>
        </tr>
    }
</table>
<br />
<a href="@Url.Action("Create")" class="btn btn-default "> Add new Engine </a>
